*{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card{
    border: 1px solid black;
    border-radius: 10px;
    padding: 30px;
}

.card-titulo{
    text-align: center;
}

.card-titulo, .card-rango{
    margin-bottom: 10px;
}

.card-rango{
    display:flex;
    justify-content: space-between;
}

.rango-inicial, .rango-final{
    display: flex;
    justify-content: start;
    flex-direction: column;
}

#inicial{
    margin-right: 20px;
}

.card-calcular{
    display: flex;
    justify-content: end;
}

.card-calcular button{
    font-size: 14px;
}